html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

table {
  width: 100%;
}
